@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

/* ---- 아래에 직접 추가! ---- */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
